<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'chat.js' %}"></script>
    <script> const received_data = {{ offer|safe }};
    console.log(received_data);
    </script>
    <script>const chatUrl = "{% url 'chat' %}";</script>
    <style>
        #message-box {
            height: 200px;
            width: 400px;
            background-color: chocolate;
        }

        #connect {
            padding: 10px;
            background: cornflowerblue;
        }</style>

</head>
<body>
<div id="message-box">
</div>
<div>
    <button id="connect" type="button" onclick="startConnection(received_data)">connect
    </button>
</div>
</body>
</html>